<app-product-cart
  id="1"
  [productName]="productName"
  [author]="author"
  [(isShow)]="isShow"
  [photoUrl]="photoUrl"
  [createDate]="createDate"
  [price]="price"
></app-product-cart>
<app-product-cart
  id="1"
  [productName]="productName"
  [author]="author"
  [(isShow)]="isShow"
  [photoUrl]="photoUrl"
  [createDate]="createDate"
  [price]="price"
></app-product-cart
><app-product-cart
  id="1"
  [productName]="productName"
  [author]="author"
  [(isShow)]="isShow"
  [photoUrl]="photoUrl"
  [createDate]="createDate"
  [price]="price"
></app-product-cart
><app-product-cart
  id="1"
  [productName]="productName"
  [author]="author"
  [(isShow)]="isShow"
  [photoUrl]="photoUrl"
  [createDate]="createDate"
  [price]="price"
></app-product-cart>
